<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Alteração</title>{% endblock %}
</head>
<body>
    <div class='menu'>
        <a href="{% url 'cadastrar' %}" id="cadastros">Home</a><br>
        <a href="{% url 'index' %}" id="cadastros">Alunos Cadastrados</a>
    </div>

    <div class='content'>
        <h1>Alterar Cadastro</h1>
        <h2>O Id do aluno é </h2>
        <form  method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}

            <!--
            <label for="nome">Nome:</label>
            <input id="fname" type="text" name="fname" value="{{aluno.nome}}"><br><br>
            <label for="sobreome">Sobrenome:</label>
            <input id="lname" type="text" name="lname" value="{{ aluno.sobrenome }}"><br><br>
            <label for="matricula">Matricula:</label>
            <input id="matricula" type="text" name="matricula" value="{{ aluno.matricula }}"><br><br>
            -->
            <button type="submit">Save</button>
        </form>

    </div>  

</body>
</html>
